
<footer class="footer">
    <div class="grid-width">
        <div class="grid-row">
            <div class="grid-column-3-6">
                <div class="wrap">
                    <a href="#" class="heading">
                        <h3>FIND A STORE</h3>
                    </a>
                    <a href="#" class="heading-1">
                        <h3>BECOME A MEMBER</h3>
                    </a>
                </div>
            </div>
            <div class="grid-column-3-6">
                <a href="#" class="heading">
                    <h3>GET HELP</h3>
                </a>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="#" class="footer-link">Order Status</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-link">Delivery</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-link">Returns</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-link">Payment Options</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-link">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="grid-column-3-6">
                <a href="#" class="heading">
                    <h3>ABOUT SORALY </h3>
                </a>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="#" class="footer-link">News</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-link">Careers</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-link">Investors</a>
                    </li>
                    <li class="footer-item">
                        <a href="#" class="footer-link">Sustainability</a>
                    </li>
                </ul>
            </div>
            <div class="grid-column-3-6">
                <h3 class="heading">Follow us on</h3>
                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            <i class="footer-icon fab fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            <i class="footer-icon fab fa-instagram-square"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            <i class="footer-icon fab fa-linkedin"></i>
                            Linkedln
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="grid-width">
            <div class="grid-row">
                <div class="license">Single-member limited liability company Soraly</div>
                <div class="license">Address: Floor 4, 59/5 Nguyen Hong Đao, Ward 14, District Tan Binh,
                    Ho Chi Minh City - Support switchboard: 0358090295 - Email: lequangnam1617@gmail.com</div>
                <div class="license">Business Code: 245376230 Issued by the Department of Planning and Investment of Ho Chi Minh City 28/06/2020</div>
                <div class="license"> © 2020 - Copyright by Single-member limited liability company Soraly</div>
            </div>
        </div>
    </div>
</footer>
