 {{#section 'css'}}
<link rel="stylesheet" href="/stylesheets/products.css">
<link rel="stylesheet" href="/stylesheets/productCategories.css">
{{/section}}
<div id="image">
    <img src="https://www.converse.com/on/demandware.static/-/Library-Sites-SharedLibrary/default/dwe639f47f/firstspirit/media/11_grid_walls/su20/04_35/D-PWH-4-22-CT70.jpg" alt="">
</div>
<div id="products">
    <div class="row">
        <div class="col-2">
            {{>productCategories}}
        </div>
        <div class="col-10">
            <div class="sort">
                <div class="sortby dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Freatured</a>
                        <a class="dropdown-item" href="#">Newest</a>
                        <a class="dropdown-item" href="#">Price: Hight-Low</a>
                        <a class="dropdown-item" href="#">Price: Low-Hight</a>
                    </div>
                </div>

            </div>
            <div class="row">
                {{#each listproducts}}
                <div class="col-3">
                    <a href="" class="home-product-item-link">
                        <div class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url({{this.image}});">
                            </div>
                            <h4 class="home-product-item__name">{{this.name}}</h4>
                            <div class="home-product-item__price">
                                <span class="home-product-item__price-old">9.000.000đ</span>
                                <span class="home-product-item__price-current">{{this.price}}</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__wrap-rating">
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Sold 78</span>
                                </div>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__origin-storename">Nike</span>
                                <span class="home-product-item__origin-country">VietNam</span>
                            </div>
                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Favourite</span>
                            </div>
                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">
                                    69%
                                </span>
                                <p class="home-product-item__sale-off-label">SALE</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>