<form method="post">
    <div class="form-group">
        <label for=""></label>
        <input type="file" style="font-size:20px" class="form-control-file" name="image" id="" placeholder="" aria-describedby="fileHelpId">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>