{{#section 'css'}}
<link rel="stylesheet" href="/stylesheets/base.css">
<link rel="stylesheet" href="/stylesheets/main.css">
{{/section}}

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p class="lead">We’re currently experiencing some technical difficulties on our website. If you’re
            unable to check out at this moment, please try again later. We apologize for the inconvenience
            caused.</p>
    </div>
</div>
<!-- Container -->
<div class="container-fluid">
    <div class="container-app container">
        <!-- Launch -->
        <div class="app-content">
            <div class="img-wrap">
                <a href="/" class="link" aria-label="Welcome to Summoner's Rift">
                    <img src="https://static.iluvk.vn/uploads/images/news/2018/12/06/4938_large_154408181188.jpg" style="height: 100%; witdh: auto" alt="This is Shoes" class="img">
                </a>
            </div>
        </div>
        <!-- Launch Content -->
        <div class="launch">
            <div class="content">
                <a href="#" class="wrap">
                    <div class="main">
                        <p class="title">BESTRUE 2020 COLLECTION</p>
                    </div>

                </a>
            </div>
            <div class="button-wrap">
                <div class="wrap">
                    <a href="/" class="btn btn-primary button">
                        <p style="margin-top: 7px !important;">OS Shoes</p>
                    </a>
                    <a href="/products" class="button btn btn-primary">
                        <p style="margin-top: 7px !important;">Explore the Collection</p>
                    </a>
                </div>
            </div>
        </div>
        <!-- Main  -->
        <div class="main">
            <div class="trending">
                <div class="header-trending">
                    <p class="title">Trending</p>
                </div>
                <div class="container-wrap">
                    <div class="content grid-row col-sm-12">
                        <a href="/products" class="left col-lg-6 col-md-6 col-sm-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
                            <img src="https://static.nike.com/a/images/f_auto/dpr_1.0/h_700,c_limit/30080eb1-ef8d-4c01-afa2-6478aedfc9c1/nike-just-do-it.jpg" alt="">
                            <div class="fixed">
                                <div class="layer-ps">
                                    <div class="title">
                                        <p>Throwback Threads</p>
                                    </div>
                                    <div class="button btn">
                                        <p>Shop</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="/products" class="right col-lg-6 col-md-6 col-sm-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
                            <img src="https://static.nike.com/a/images/f_auto/dpr_1.0/h_700,c_limit/f48d1a04-8d95-4231-8f7d-61a42a8d8b2e/nike-just-do-it.jpg" alt="">
                            <div class="fixed">
                                <div class="layer-ps">
                                    <div class="title">
                                        <p>Nike Bras: Stronger with Support</p>
                                    </div>
                                    <div class="button btn">
                                        <p>Shop</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="Featured">
                <div class="header-featured">
                    <p class="title">Featured</p>
                </div>
                <div class="container-wrap">
                    <div class="content">
                        <a href="#" class="full">
                            <video src="/assets/vid/balle.mp4" autoplay muted controls:0 loop></video>
                            <div class="fixed">
                                <div class="layer-ps">
                                    <div class="title">
                                        <h1>SERENITY IN MOTION</h1>
                                        <p>The Soraly Icon Clash Collection</p>
                                    </div>
                                    <div class="button btn">
                                        <p>Shop</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Member Access -->
            <div class="access">
                <div class="header-access">
                    <p class="title">Member Access</p>
                </div>
                <div class="container-wrap">
                    <div class="grid-row">
                        {{#each products}}
                        <div class="grid-column-2-4">
                            <a href="/products" class="home-product-item-link">
                                <div class="home-product-item">
                                    <div class="home-product-item__img" style="background-image: url({{this.image}});">
                                    </div>
                                    <h4 class="home-product-item__name">{{this.name}}</h4>
                                    <div class="home-product-item__price">
                                        <span class="home-product-item__price-old">9.000.000đ</span>
                                        <span class="home-product-item__price-current">{{this.price}}</span>
                                    </div>
                                    <div class="home-product-item__action">
                                        <span class="home-product-item__like home-product-item__like--liked">
                                            <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                            <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                        </span>
                                        <div class="home-product-item__wrap-rating">
                                            <div class="home-product-item__rating">
                                                <i class="home-product-item__ratied fas fa-star"></i>
                                                <i class="home-product-item__ratied fas fa-star"></i>
                                                <i class="home-product-item__ratied fas fa-star"></i>
                                                <i class="home-product-item__ratied fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="home-product-item__sold">Sold 78</span>
                                        </div>
                                    </div>
                                    <div class="home-product-item__origin">
                                        <span class="home-product-item__origin-storename">Nike</span>
                                        <span class="home-product-item__origin-country">VietNam</span>
                                    </div>
                                    <div class="home-product-item__favourite">
                                        <i class="fas fa-check"></i>
                                        <span>Favourite</span>
                                    </div>
                                    <div class="home-product-item__sale-off">
                                        <span class="home-product-item__sale-off-percent">
                                            69%
                                        </span>
                                        <p class="home-product-item__sale-off-label">SALE</p>
                                    </div>
                                </div>
                            </a>

                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- More Products -->
            <div class="more">
                <div class="header-more">
                    <p class="title">More Products</p>
                </div>
                <div class="container-wrap">
                    <div class="content grid-row col-sm-12">
                        <a href="/products/Men" class="left col-lg-4 col-md-12 col-sm-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
                            <img src="https://static.nike.com/a/images/f_auto/dpr_1.0/h_700,c_limit/0aefad3d-37c9-491f-a730-82fb15fb0e1b/mens-shoes-clothing-accessories.jpg" alt="">
                            <div class="fixed">
                                <div class="layer-ps">
                                    <div class="button btn">
                                        <p>Man's</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="/products/Women" class="left col-lg-4 col-md-12 col-sm-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
                            <img src="https://static.nike.com/a/images/f_auto/dpr_1.0/h_700,c_limit/2e6fd881-43ce-4ec6-b2c2-3008f01bffd3/womens-shoes-clothing-accessories.jpg" alt="">
                            <div class="fixed">
                                <div class="layer-ps">
                                    <div class="button btn">
                                        <p>Woman's</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="/products/Kids" class="left col-lg-4 col-md-12 col-sm-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-0">
                            <img src="https://cdn.shopify.com/s/files/1/1445/5944/files/Boys_shoes_Australia_online_3_580x.jpg?v=1555993431" alt="">
                            <div class="fixed">
                                <div class="layer-ps">
                                    <div class="button btn">
                                        <p>Kid's</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
