#products{
    padding: 0 50px;
}
.col-10 .row .col-3 .home-product-item{
    box-shadow: 1px 2px 3px rgba(80, 80, 80, 0.76);
}
.row .col-10 .row{
    padding-top: 50px
}
.sortby{
    font-size:20px;
    position: absolute;
    right:50px;
    margin-top: 20px;
    line-height: 30px;
}

.sortby .dropdown-item{
    font-size: 15px;
}

#image img{
    width:100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}