
.categories{
    width:100%;
    margin-top: 60px;
    /* top: 25%; */
}

.categories .card .card-header{
    padding: 3px;
    font-size: 14px;
}
.categories .card ul li{
    padding: 10px;
    font-size: 14px;
    border:0;
    transition: padding 0.3s;
}
.categories .card ul li:hover{
    color: rgb(158, 158, 158);
    padding: 10px 20px;
}
.categories .card ul li a{
    text-decoration: none;
}
.categories .card ul li a:hover{
    color: rgb(158, 158, 158) !important;
}
.categories .card ul li:first-child:hover{
    color: rgb(158, 158, 158);
    padding: 10px;
}
.categories .card{
    border-left: 0;
    border-right:0;
    border-bottom: 8px solid rgba(184, 184, 184, 0.644);
}