 <div class="header">
    <div class="header-wrap">
        <div class="top">
            <div class="join-us-wrap">
                <div class="join-us">
                    <a href="#" class="link">Join Us</a>
                </div>
                <div class="join-us-icon">
                    <i class="icon fas fa-snowboarding"></i>
                </div>
            </div>
            <div class="right">
                {{!-- data-toggle="modal" --}}
              
                <div class="location">
                    <a aria-label="dumemay" title="Selected Location: VN" class="wrap">
                        <i class="icon fas fa-street-view"></i>
                        <span class="content">VietNam</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="bottom">
            <a href="/admin" class="brand">
                <i class="icon fas fa-shoe-prints"></i>
            </a>
            <div class="list">
                <a href="/users" class="item">Manager User</a>
                <a href="/category" class="item">Manager Category</a>
                <a href="/admin/products" class="item">Manager Products</a>
                <a href="/bill" class="item">Manager Order</a>
            </div>
            <div class="search">
                <form class="form-inline" method="post" action="/search">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i
                                    class="fas fa-search"></i></span>
                        </div>
                        {{!-- <form method="post" action="/search"> --}}
                            <input type="text" class="form-control" name="search" placeholder="Search" aria-label="Search"
                                aria-describedby="basic-addon1">
                            <input type="submit" value="" style="visibility: hidden"/>
                        {{!-- </form> --}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>