 <div class="header">
    <div class="header-wrap">
        <div class="top">
            <div class="join-us-wrap">
                <div class="join-us">
                    <a href="#" class="link">Join Us</a>
                </div>
                <div class="join-us-icon">
                    <i class="icon fas fa-snowboarding"></i>
                </div>
            </div>
            <div class="right">
                <div class="modal-1" data-toggle="modal" data-target="#staticBackdrop">
                    {{#if user.username}}
                    <span class="content">{{user.username}}</span>
                    <span class="content ml-5"> <a href="/../auth/logout">Log out</a></span>
                    {{else}}
                    <span class="content"><a href="/../auth/login">Join/Log In With Us</a></span>
                    {{/if}}
                    <!-- Modal for Login -->
                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false"
                        tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="dialog">
                            <div class="content">
                                <div class="header-1">
                                    <a href="/" class="close">
                                        <i class="fas fa-times-circle"></i>
                                    </a>
                                    <div class="icon">
                                        <i class="icon fas fa-shoe-prints"></i>
                                    </div>
                                    <div class="title" id="staticBackdropLabel">
                                        LOGIN FOR EVERYTHING
                                    </div>
                                </div>
                                <div class="body">
                                    <input type="email" class="user-name" placeholder="Email Address">
                                    <input type="password" class="password" placeholder="Your PassWord">
                                    <div class="wrap">
                                        <div class="keep">
                                            <input type="checkbox" class="keep-sign">
                                            <p class="title"> Keep me signed in</p>
                                        </div>
                                        <a href="#" class="forgot">
                                            Forgotten your password?
                                        </a>
                                    </div>
                                    <div class="warning">
                                        By logging in, you agree to <a href="#"><u>Soraly's Policy</u></a> and
                                        <a href="#"><u>Terms of Use</u></a>
                                    </div>
                                </div>
                                <div class="footer-2">
                                    <a href="#" class="link">
                                        <div class="button">LOGIN</div>
                                    </a>
                                    <div class="sign-up">
                                        Not a member?
                                        <a href="#" class="link">Join us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="help">
                    <span class="content">Help</span>
                    <div class="drop-down">
                        <ul class="list">
                            <li class="item"> <a class="content" href="#">How to eat = đũa</a></li>
                            <li class="item"> <a class="content" href="#">How to eat = miệng</a></li>
                            <li class="item"> <a class="content" href="#">Cách tắm </a></li>
                            <li class="item"> <a class="content" href="#">Cách đi vệ sinh</a></li>
                            <li class="item"> <a class="content" href="#">Cách đi</a></li>
                            <li class="item"> <a class="content" href="#">Cách ngủ</a></li>
                            <li class="item"> <a class="content" href="#">Cách khóc</a></li>
                            <li class="item"> <a class="content" href="#">Cách cười</a></li>

                        </ul>
                    </div>
                </div>
                <div class="cart">
                    <i class="icon fas fa-shopping-cart"></i>
                </div>
                <div class="location">
                    <a aria-label="dumemay" title="Selected Location: VN" class="wrap">
                        <i class="icon fas fa-street-view"></i>
                        <span class="content">VietNam</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="bottom">
            <a href="/" class="brand">
                <i class="icon fas fa-shoe-prints"></i>
            </a>
            <div class="list">
                <a href="/products/Men" class="item">MEN</a>
                <a href="/products/Women" class="item">WOMAN</a>
                <a href="/products/Kids" class="item">KIDS</a>
                <a href="#" class="item">CUSTOMISE</a>
                <a href="#" class="item">LAUNCH CALENDAR</a>
                <a href="#" class="item">SALE</a>
            </div>
            <div class="search">
                <form class="form-inline">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i
                                    class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                            aria-describedby="basic-addon1">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>