<div class="categories">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <a href="/products" style="color:{{#if all}} blue; font-weight:550{{else}} black{{/if}}" >Categories <i class="fas fa-minus float-right"></i></a>
            </li>

            {{#each categories}}
            <li class="list-group-item" ><a href="/products/{{this.code}}" style="color:{{#if this.isEnabled}} blue; font-weight:550{{else}} black{{/if}}"  >{{this.name}}</a></li>
            {{/each}}
          
        </ul>
    </div>
</div>
