<div class="categories">
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Categories <i class="fas fa-minus float-right"></i>
            </li>
            <li class="list-group-item">Men</li>
            <li class="list-group-item">Women</li>
            <li class="list-group-item">Children</li>
        </ul>
    </div>
</div>
