<div role="main"  style="margin-top:120px !important">

      <div class="jumbotron " style="height:250px">
        <div class="container">
            <h1 class="display-3">Hello admin!</h1>
            <p class= "mt-5"style="font-size: 20px">Start managing, you are logged in as admin</p>
            <a  href="/../auth/logout"><button class="btn btn-dark btn-lg">Log out »</button></a><br>
            <a  href="/profile/changepassword"><button class="btn btn-dark btn-lg mt-3">Change password »</button></a>
        </div>
    </div>

    <div class="container pb-5 mb-2 mt-5">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h1 class="font-weight-bold">Manage user</h1>
                <p class ="font-weight-light"style="font-size: 15px">Manage information include profile list user, history order and bill of them.</p>
                <a class="btn btn-outline-dark btn-lg mt-5" href="/users" role="button">Go on »</a>
            </div>
            <div class="col-md-4">
                <h1 class="font-weight-bold">Manage Category</h1>
                <p class ="font-weight-light"style="font-size: 15px">Manage Category include add, delete, edit category</p>
                <a class="btn btn-outline-dark btn-lg mt-5" href="/category" role="button">Go on »</a>
            </div>
             <div class="col-md-4">
                <h1 class="font-weight-bold">Manage Products</h1>
                <p class ="font-weight-light"style="font-size: 15px">Manage products include add, delete, edit product</p>
                <a class="btn btn-outline-dark btn-lg mt-5" href="/admin/products" role="button">Go on »</a>
            </div>
            <div class="col-md-4 mt-5">
                <h1 class="font-weight-bold">Manage Order</h1>
                <p class ="font-weight-light" style="font-size: 15px">Manage list order from user include confirm or cancel status orders</p>
                <a class="btn btn-outline-dark btn-lg mt-5" href="/bill" role="button">Go on »</a>
            </div>
            <hr>
        </div> <!-- /container -->
    </div>

    </div>