 {{#section 'css'}}
<link rel="stylesheet" href="/stylesheets/products.css">
<link rel="stylesheet" href="/stylesheets/productCategories.css">
{{/section}}
<div id="products">

    <div class="row">
        <div class="col-3">
            {{>productCategories}}
        </div>
        <div class="col-9">
            <div class="sort">
                <div class="sortby dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Freatured</a>
                        <a class="dropdown-item" href="#">Newest</a>
                        <a class="dropdown-item" href="#">Price: Hight-Low</a>
                        <a class="dropdown-item" href="#">Price: Low-Hight</a>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-4">
                    <a href="" class="home-product-item-link">
                        <div class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(/images/launchshoe1.jpg);">
                            </div>
                            <h4 class="home-product-item__name">The Nike Sportswear Short-Sleeve Top</h4>
                            <div class="home-product-item__price">
                                <span class="home-product-item__price-old">9.000.000đ</span>
                                <span class="home-product-item__price-current">3.359.000đ</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__wrap-rating">
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Sold 78</span>
                                </div>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__origin-storename">Nike</span>
                                <span class="home-product-item__origin-country">VietNam</span>
                            </div>
                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Favourite</span>
                            </div>
                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">
                                    69%
                                </span>
                                <p class="home-product-item__sale-off-label">SALE</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="" class="home-product-item-link">
                        <div class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(/images/launchshoe1.jpg);">
                            </div>
                            <h4 class="home-product-item__name">The Nike Sportswear Short-Sleeve Top</h4>
                            <div class="home-product-item__price">
                                <span class="home-product-item__price-old">9.000.000đ</span>
                                <span class="home-product-item__price-current">3.359.000đ</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__wrap-rating">
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Sold 78</span>
                                </div>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__origin-storename">Nike</span>
                                <span class="home-product-item__origin-country">VietNam</span>
                            </div>
                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Favourite</span>
                            </div>
                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">
                                    69%
                                </span>
                                <p class="home-product-item__sale-off-label">SALE</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="" class="home-product-item-link">
                        <div class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(/images/launchshoe1.jpg);">
                            </div>
                            <h4 class="home-product-item__name">The Nike Sportswear Short-Sleeve Top</h4>
                            <div class="home-product-item__price">
                                <span class="home-product-item__price-old">9.000.000đ</span>
                                <span class="home-product-item__price-current">3.359.000đ</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__wrap-rating">
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Sold 78</span>
                                </div>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__origin-storename">Nike</span>
                                <span class="home-product-item__origin-country">VietNam</span>
                            </div>
                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Favourite</span>
                            </div>
                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">
                                    69%
                                </span>
                                <p class="home-product-item__sale-off-label">SALE</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="grid-row">
                <div class="grid-column-2-4">
                    <a href="" class="home-product-item-link">
                        <div class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(/images/launchshoe1.jpg);">
                            </div>
                            <h4 class="home-product-item__name">The Nike Sportswear Short-Sleeve Top</h4>
                            <div class="home-product-item__price">
                                <span class="home-product-item__price-old">9.000.000đ</span>
                                <span class="home-product-item__price-current">3.359.000đ</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__wrap-rating">
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Sold 78</span>
                                </div>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__origin-storename">Nike</span>
                                <span class="home-product-item__origin-country">VietNam</span>
                            </div>
                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Favourite</span>
                            </div>
                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">
                                    69%
                                </span>
                                <p class="home-product-item__sale-off-label">SALE</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="grid-column-2-4">
                    <a href="" class="home-product-item-link">
                        <div class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(/images/shoes2.jpg);">
                            </div>
                            <h4 class="home-product-item__name">Soft leather heeled shoe NY 2020</h4>
                            <div class="home-product-item__price">
                                <span class="home-product-item__price-old">2.000.000đ</span>
                                <span class="home-product-item__price-current">1.599.000đ</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__wrap-rating">
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Sold 128</span>
                                </div>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__origin-storename">NY</span>
                                <span class="home-product-item__origin-country">American</span>
                            </div>
                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Favourite</span>
                            </div>
                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">
                                    20%
                                </span>
                                <p class="home-product-item__sale-off-label">SALE</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="grid-column-2-4">
                    <a href="" class="home-product-item-link">
                        <div class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(/images/shoes3.jpg);">
                            </div>
                            <h4 class="home-product-item__name">Korean Domba Sneaker Shoes Auth</h4>
                            <div class="home-product-item__price">
                                <span class="home-product-item__price-old">960.000đ</span>
                                <span class="home-product-item__price-current">672.000đ</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__wrap-rating">
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Sold 18</span>
                                </div>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__origin-storename">Sneaker</span>
                                <span class="home-product-item__origin-country">Korean</span>
                            </div>
                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Favourite</span>
                            </div>
                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">
                                    30%
                                </span>
                                <p class="home-product-item__sale-off-label">SALE</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="grid-column-2-4">
                    <a href="" class="home-product-item-link">
                        <div class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(/images/shoes4.jpg);">
                            </div>
                            <h4 class="home-product-item__name">[Freeship genuine shoes] MLB mickey Korean shoes</h4>
                            <div class="home-product-item__price">
                                <span class="home-product-item__price-old">2.195.000đ</span>
                                <span class="home-product-item__price-current">2.050.000đ</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__wrap-rating">
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Sold 102</span>
                                </div>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__origin-storename">MLB</span>
                                <span class="home-product-item__origin-country">Korean</span>
                            </div>
                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Favourite</span>
                            </div>
                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">
                                    7%
                                </span>
                                <p class="home-product-item__sale-off-label">SALE</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="grid-column-2-4">
                    <a href="" class="home-product-item-link">
                        <div class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(/images/shoes5.jpg);">
                            </div>
                            <h4 class="home-product-item__name">
                                Biti's Hunter Huong Giang Go For Love Shoes DSWH03000TRG / DSMH03000TRG (White)</h4>
                            <div class="home-product-item__price">
                                <span class="home-product-item__price-old">900.000đ</span>
                                <span class="home-product-item__price-current">899.000đ</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__wrap-rating">
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Sold 314</span>
                                </div>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__origin-storename">Biti's</span>
                                <span class="home-product-item__origin-country">VietNam</span>
                            </div>
                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Favourite</span>
                            </div>
                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">
                                    1%
                                </span>
                                <p class="home-product-item__sale-off-label">SALE</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="grid-column-2-4">
                    <a href="" class="home-product-item-link">
                        <div class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(/images/shoes6.jpg);">
                            </div>
                            <h4 class="home-product-item__name">MIDAZ sneaker - W00029 - HD20A76</h4>
                            <div class="home-product-item__price">
                                <span class="home-product-item__price-old">320.000đ</span>
                                <span class="home-product-item__price-current">256.000đ</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__wrap-rating">
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Sold 1k3</span>
                                </div>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__origin-storename">Sneaker</span>
                                <span class="home-product-item__origin-country">France</span>
                            </div>
                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Favourite</span>
                            </div>
                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">
                                    20%
                                </span>
                                <p class="home-product-item__sale-off-label">SALE</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="grid-column-2-4">
                    <a href="" class="home-product-item-link">
                        <div class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(/images/shoes7.jpg);">
                            </div>
                            <h4 class="home-product-item__name">Japan Ulzzang Women's Lacing Shoes - DCMMMAN</h4>
                            <div class="home-product-item__price">
                                <span class="home-product-item__price-old">300.000đ</span>
                                <span class="home-product-item__price-current">280.000đ</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__wrap-rating">
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Sold 35</span>
                                </div>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__origin-storename">Ulzzang</span>
                                <span class="home-product-item__origin-country">Japan</span>
                            </div>
                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Favourite</span>
                            </div>
                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">
                                    6%
                                </span>
                                <p class="home-product-item__sale-off-label">SALE</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="grid-column-2-4">
                    <a href="" class="home-product-item-link">
                        <div class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(/images/shoes8.jpg);">
                            </div>
                            <h4 class="home-product-item__name">Super BATA Boat Shoes For Convenience For Women.</h4>
                            <div class="home-product-item__price">
                                <span class="home-product-item__price-old">240.000đ</span>
                                <span class="home-product-item__price-current">99.000đ</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__wrap-rating">
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Sold 3k1</span>
                                </div>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__origin-storename">Bata</span>
                                <span class="home-product-item__origin-country">China</span>
                            </div>
                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Favourite</span>
                            </div>
                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">
                                    59%
                                </span>
                                <p class="home-product-item__sale-off-label">SALE</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="grid-column-2-4">
                    <a href="" class="home-product-item-link">
                        <div class="home-product-item">
                            <div class="home-product-item__img" style="background-image: url(/images/shoes9.jpg);">
                            </div>
                            <h4 class="home-product-item__name">Women's Sports Shoes With Mesh Sole Color - CLMMMAN</h4>
                            <div class="home-product-item__price">
                                <span class="home-product-item__price-old">250.000đ</span>
                                <span class="home-product-item__price-current">137.500đ</span>
                            </div>
                            <div class="home-product-item__action">
                                <span class="home-product-item__like home-product-item__like--liked">
                                    <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                    <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                </span>
                                <div class="home-product-item__wrap-rating">
                                    <div class="home-product-item__rating">
                                        <i class="home-product-item__ratied fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="home-product-item__sold">Sold 184</span>
                                </div>
                            </div>
                            <div class="home-product-item__origin">
                                <span class="home-product-item__origin-storename">Nike</span>
                                <span class="home-product-item__origin-country">VietNam</span>
                            </div>
                            <div class="home-product-item__favourite">
                                <i class="fas fa-check"></i>
                                <span>Favourite</span>
                            </div>
                            <div class="home-product-item__sale-off">
                                <span class="home-product-item__sale-off-percent">
                                    45%
                                </span>
                                <p class="home-product-item__sale-off-label">SALE</p>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>